.gitHub_heading {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.gitHub_heading_image {
  width: 100px;
}

.gitHub_heading_greeting {
  width: auto;
  display: flex;
  justify-content: center;
  padding: 15px;
  font-size: 50px;
}

.error {
  width: 100%;
  text-align: center;
}
